/* App and background */
body {
  margin: 0 auto;
  font-family: 'Inconsolata', sans-serif;
  color: white;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, .banner, .nav {
  font-family: 'Montserrat', sans-serif;
}

li {
  text-align: center;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@keyframes moveRight {
  from {
    background-position: 0 0;
   }
  to {
    background-position: -1500px 0;
   }
}

@-webkit-keyframes moveRight {
  from { background-position: 0 0; }
    to { background-position: -1500px 0;
     }
}

.App {

}

#canvas {
  height: 500%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.bg {

}

/* Nav */

.nav {
  position: sticky;
  z-index: 999;
  top: 0%;
  width: 100%;
  padding: 15px;
  display: flex;
}

.nav-transparent {
  background-color: rgba(0,110,106,0);
  animation: fadeOutNav 1s;
}

.nav-colored {
  background-color: rgba(0,110,106,1);
  animation: fadeInNav 1s;
}

.nav-brand {
  margin-left: 5%;
  cursor: pointer;
}

.nav-links {
  width: 100%;
  margin-left: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  cursor: pointer;
}

/* Right side nav */

.right-nav {
  display: inline-block;
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 1%;
}

.right-nav-links {
  display: flex;
  flex-direction: column;
}

.right-nav-link {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-button {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  border: 1px solid white;
  margin-bottom: 10px;
}

.right-nav-text-1 {
  position: absolute;
  transform: translate(-105%, -20%);
  text-align: right;
  font-size: 1rem;
  color: white;
  display: none;
}

.right-nav-text-2 {
  position: absolute;
  transform: translate(-105%, -20%);
  text-align: right;
  font-size: 1rem;
  color: white;
  display: none;
}

.right-nav-text-3 {
  position: absolute;
  transform: translate(-105%, -20%);
  text-align: right;
  font-size: 1rem;
  color: white;
  display: none;
}

.nav-button:hover {
  background-color: white;
  cursor: pointer;
}

.nav-button:hover + .right-nav-text-1 {
  animation: fadeInLoad .5s;
  display: inline-block;
  width: 200px;
}

.nav-button:hover + .right-nav-text-2 {
  animation: fadeInLoad .5s;
  display: inline-block;
  width: 200px;
}

.nav-button:hover + .right-nav-text-3 {
  animation: fadeInLoad .5s;
  display: inline-block;
  width: 200px;
}

/* App content container */
.container {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* Banner */

.banner {
  height: 100vh;
  width: 100vw;
  background: rgb(0,100,147);
background: -moz-linear-gradient(342deg, rgba(0,100,147,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(342deg, rgba(0,100,147,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(342deg, rgba(0,100,147,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006493",endColorstr="#000000",GradientType=1);
clip-path: ellipse(100% 55% at 48% 44%);
  margin-top: -51px;
  margin-bottom: 10%;
}

.banner-img {
  width: auto;
  height: auto;
  position: relative;
  left: 35%;
  top: 0%;
}

.banner-content {
  width: 30%;
  position: relative;
  top: -75%;
  left: 6%;
}

.banner-text {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-header {
  font-size: 1rem;
  margin-bottom: 10px;
}

#banner-button-2, #banner-button-3 {
  display: none;
}

.banner-button {
  margin-top: 10px;
  align-self: flex-start;
  border: 2px solid white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-box-shadow: 2px 10px 21px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 2px 10px 21px 0px rgba(0,0,0,0.55);
  box-shadow: 2px 10px 21px 0px rgba(0,0,0,0.55);
}

.banner-image {
  margin-left: 10px;
}

/* What is jchain, Getting Started, and Meet the Team shared styling */

.about, .getting-started, .news {
  width: 100vw;
  text-align: center;
  color: rgb(0,100,147);
}

.hidden {
  visibility: hidden;
}

.fade-in-up {
  animation: fadeInUp .5s ease-in;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);

    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

/* What is jchain */

.about {
  height: 130vh;
  width: 100vw;
  margin-bottom: 10%;
}

.about-grid {
  margin-top: 5%;
  margin-left: 5%;
  width: 100%;
  display: flex;
}

.grid-item {
  width: 30%;
  background-color: rgb(247, 247, 247);
  padding: 20px 0px 20px 0px;
  text-align: center;
  opacity: 0;
}

.grid-item:nth-of-type(1), .grid-item:nth-of-type(2) {
  margin-right: 10px;
}

#barrier, #timer, #handshake {
  width: 80px;
  height: auto;
  filter: invert(20%) sepia(61%) saturate(3097%) hue-rotate(180deg) brightness(91%) contrast(101%);
}

.timeline {
  height: 50vh;
  width: 100vw;
  margin-top: 15%;
}

#timeline {
  width: .1%;
  height: 2.5px;
  background-color: rgb(226,226,226);
  margin-top: 5%;
  margin-left: 2.5%;
}

#timeline-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  opacity: 0;
}

.timeline-point {
  border: 2px solid rgba(0,100,147,1);
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.timeline-text {
  width: 50%;
  text-align: center;
}

.timeline-date {
  font-weight: 1000;
  font-size: 1.25rem;
  margin: 5px 0px 5px 0px;
}


.about-overview {
  position: relative;
  top: 10%;
  display: flex;
}

.feature {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Getting Started */

.getting-started {
  height: 100vh;
  width: 100vw;
}

.getting-started-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.getting-started-steps {
  display: flex;
  width: 100%;
  background-color: rgb(232, 232, 232);
}

.getting-started-img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getting-started-img img {
  width: 90%;
  height: auto;
  margin-top: 5%;
}

.getting-started-text {
  width: 50%;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getting-started-text p {
  width: 70%;
  margin-top: -10%;
}

.getting-started-button {
  width: 30%;
  padding: 10px;
  border: 2px solid rgb(0, 92, 136);
  border-radius: 5px;
  cursor: pointer;
}

#laptop {
  height: auto;
}

/* News */

.news {
  height: 100vh;
  width: 90vw;
}

.news-items {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.news-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 6%;
  border-radius: 5px;
  height: 150px;
  opacity: 0;
  cursor: pointer;
}

.news-item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.news-item-title {
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-size: 1.1rem;
}

/* Footer */

footer {
  padding: 50px 0 50px 0;
  background: rgb(0,100,147);
background: -moz-linear-gradient(342deg, rgba(0,100,147,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(342deg, rgba(0,100,147,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(342deg, rgba(0,100,147,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006493",endColorstr="#000000",GradientType=1);
clip-path: ellipse(100% 95% at 48% 100%);
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer a {
  margin-top: 10px;
}

.footer-item1 i, .footer-item2 div, .footer-item3 div {
  cursor: pointer;
}

.footer-item1 {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-item2, .footer-item3 {
  display: flex;
  flex-direction: column;
}

.footer-item2 {
  position: relative;
}

.footer-social {
  position: relative;
  left: -10%;
  display: flex;
  text-align: left;
  justify-content: space-around;
}

.footer-social i {
  font-size: 2rem;
}

.footer-disclaimer {
  font-size: .75rem;
  margin-top: 5%;
  text-align: center
}

/* Media queries */

/* Small phones */
@media only screen and (max-width: 392px) {

  .nav {
    display: none;
  }

  .banner-img {
    position: relative;
    left: 10%;
  }

  .banner-content {
    width: 50%;
    top: -95%;
    left: 28%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .banner-header {
    width: 100%;
    text-align: center;
  }

  .banner-button {
    width: 92%;
    text-align: center;
    background-color: rgba(0,53,77,.7);
  }

  .about {
    height: 230vh;
    padding-bottom: 50%;
  }

  .about-grid {
    flex-direction: column;
    width: 90%;
    padding-bottom: 10%;
  }

  .grid-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .timeline {
    height: 70vh;
  }

  #timeline {
    height: 1%;
    width: 3px;
    position: relative;
    left: 50%;
  }

  #timeline-items {
    flex-direction: column;
  }

  .timeline-item {
    flex-direction: row;
  }

  .timeline-item:nth-of-type(2) {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: -10px;
  }

  .timeline-item:nth-of-type(4) {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: -20px;
  }

  .timeline-point {
    margin-right: 10px;
  }

  .timeline-text {
    width: 150px;
  }

  .getting-started {
    height: 90vh;
  }

  .getting-started-steps {
    padding-bottom: 15%;
    flex-direction: column;
  }

  .getting-started-text {
    font-size: 1.25rem;
    width: 100%;
    align-self: center;
    position: relative;
    top: 25%;
  }

  .getting-started-button {
    font-size: 1rem;
    width: 50%;
  }

  .getting-started-img {
    width: 100%;
    position: relative;
    top: 20%;
  }

  .news {
    height: 165vh;
  }

  .news-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news-item {
    width: 65%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .footer-item1 {
    width: 90%;
    text-align: center;
  }

  .footer-social {
    left: -1%;
    margin: 5% 0 5% 0;
  }

  .footer-item2, .footer-item3 {
    width: 90%;
    text-align: center;
  }

  .footer-item2 div {
    font-size: 1.25rem;
  }

  .footer-item3 {
    margin-bottom: 5%;
  }
  .footer-item3 div {
    font-size: 1.25rem;
  }

}

/* Phones */

@media only screen and (min-width: 392.5px) and (max-width: 680px) {

  .nav {
    display: none;
  }

  .banner-img {
    position: relative;
    left: 10%;
  }

  .banner-content {
    width: 50%;
    top: -95%;
    left: 28%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .banner-header {
    width: 100%;
    text-align: center;
  }

  .banner-button {
    width: 92%;
    text-align: center;
    background-color: rgba(0,53,77,.7);
  }

  .about {
    height: 230vh;
    margin-bottom: 20%;
  }

  .about-grid {
    flex-direction: column;
    width: 90%;
    padding-bottom: 10%;
  }

  .grid-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .timeline {
    height: 70vh;
    display: block;
  }

  #timeline {
    height: 1%;
    width: 3px;
    position: relative;
    left: 50%;
  }

  #timeline-items {
    flex-direction: column;
  }

  .timeline-item {
    flex-direction: row;
  }

  .timeline-item:nth-of-type(2) {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: -10px;
  }

  .timeline-item:nth-of-type(4) {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: -20px;
  }

  .timeline-point {
    margin-right: 10px;
  }

  .timeline-text {
    width: 150px;
  }

  .getting-started {
    height: 100vh;
  }

  .getting-started-steps {
    padding-bottom: 15%;
    flex-direction: column;
  }

  .getting-started-text {
    font-size: 1.25rem;
    width: 100%;
    align-self: center;
    position: relative;
    top: 25%;
  }

  .getting-started-button {
    font-size: 1rem;
  }

  .getting-started-img {
    width: 100%;
    position: relative;
    top: 20%;
  }

  .news {
    height: 100vh;
  }

  .news-items {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .news-item {
    width: 35%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .footer-item1 {
    width: 90%;
    text-align: center;
  }

  .footer-social {
    left: -1%;
    margin: 5% 0 5% 0;
  }

  .footer-item2, .footer-item3 {
    width: 90%;
    text-align: center;
  }

  .footer-item2 div {
    font-size: 1.25rem;
  }

  .footer-item3 {
    margin-bottom: 5%;
  }
  .footer-item3 div {
    font-size: 1.25rem;
  }

}

@media screen and (min-width: 680.5px) and (max-width: 768px) {

  .nav-links {
    margin-left: 30%;
  }

  .banner-content {
    top: -85%;
    width: 50%;
  }

  .about {
    height: 160vh;
  }

  .about-grid {
    margin-bottom: 25%;
  }

  .getting-started {
    height: 70vh;
  }

  .getting-started-button {
    width: 50%;
  }

  .news {
    height: 130vh;
  }

  .news-items {
    justify-content: space-around;
  }

  .news-item {
    height: auto;
    width: 40%;
    margin-bottom: 2.5%;
  }


}

/* Tablets */
@media screen and (min-width: 768.5px) and (max-width: 1150px) {

  .nav-link {
    margin-left: -15%;
  }

  .banner-content {
    top: -85%;
    width: 40%;
  }

  .about {
    height: 160vh;
  }

  .about-grid {
    margin-bottom: 20%;
  }

  .getting-started {
    height: 90vh;
  }

  .getting-started-button {
    font-size: 1.1rem;
  }

  .news-items {
    justify-content: space-around;
  }

  .news-item {
    height: auto;
    width: 40%;
    margin-bottom: 2.5%;
  }

  footer {
    margin-top: 50%;
  }

}

@media screen and (min-width: 1150.5px) and (max-width: 1439.5px){

  .banner-content {
    top: -85%;
    width: 40%;
  }

  .about {
    height: 165vh;
  }

}
