/* App and background */
body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

li {
  text-align: center;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.App {
  background: url('./earth.jpg');
  background-position: center;
  background-size: cover;
  animation: moveRight 120s linear infinite;
}

@keyframes moveRight {
  from {
    background-position: 0 0;
   }
  to {
    background-position: -1500px 0;
   }
}

@-webkit-keyframes moveRight {
  from { background-position: 0 0; }
    to { background-position: -1500px 0;
     }
}

.bg {
  background: rgb(255,251,251);
  background: -moz-linear-gradient(180deg, rgba(255,251,251,.1) 35%, rgba(0,110,106,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,251,251,.1) 35%, rgba(0,110,106,1) 100%);
  background: linear-gradient(180deg, rgba(255,251,251,.1) 35%, rgba(0,110,106,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbfb",endColorstr="#006e6a",GradientType=1);
}

/* Nav */

.nav {
  position: sticky;
  z-index: 999;
  top: 0%;
  width: 100%;
  padding: 15px;
  display: flex;
}

.nav-transparent {
  background-color: rgba(0,110,106,0);
  animation: fadeOutNav 1s;
}

.nav-colored {
  background-color: rgba(0,110,106,1);
  animation: fadeInNav 1s;
}

.nav-links {
  width: 100%;
  margin-left: 10%;
  display: flex;
  justify-content: flex-end;
}

.nav-links a {
  margin-right: 5%;
}

/* Right side nav */

.right-nav {
  display: inline-block;
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 1%;
}

.right-nav-links {
  display: flex;
  flex-direction: column;
}

.right-nav-link {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-button {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  border: 1px solid white;
  margin-bottom: 10px;
}

.right-nav-text-1 {
  position: absolute;
  transform: translate(-105%, -20%);
  text-align: right;
  font-size: 1rem;
  color: white;
  display: none;
}

.right-nav-text-2 {
  position: absolute;
  transform: translate(-105%, -20%);
  text-align: right;
  font-size: 1rem;
  color: white;
  display: none;
}

.right-nav-text-3 {
  position: absolute;
  transform: translate(-105%, -20%);
  text-align: right;
  font-size: 1rem;
  color: white;
  display: none;
}

.nav-button:hover {
  background-color: white;
  cursor: pointer;
}

.nav-button:hover + .right-nav-text-1 {
  animation: fadeInLoad .5s;
  display: inline-block;
  width: 200px;
}

.nav-button:hover + .right-nav-text-2 {
  animation: fadeInLoad .5s;
  display: inline-block;
  width: 200px;
}

.nav-button:hover + .right-nav-text-3 {
  animation: fadeInLoad .5s;
  display: inline-block;
  width: 200px;
}

/* App content container */
.container {
  margin: 0% 10% 0% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* Banner */

.banner {
  height: 103vh;
}

.banner-content {
  position: relative;
  top: 30%;
  left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.banner-text {
  width: 400px;
  font-size: 2rem;
}

.banner-header {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
}

#banner-button-2, #banner-button-3 {
  display: none;
}

.banner-button {
  margin-top: 10px;
  display: block;
  width: 45%;
  background-color: #2a628f;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-box-shadow: 2px 10px 21px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 2px 10px 21px 0px rgba(0,0,0,0.55);
  box-shadow: 2px 10px 21px 0px rgba(0,0,0,0.55);
}

.banner-image {
  margin-left: 10px;
  margin-top: -100px;
}

/* What is jchain, Getting Started, and Meet the Team shared styling */

.about, .getting-started, .meet-team {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.fade-in-up {
  animation: fadeInUp .5s ease-in;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);

    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

/* What is jchain */

.about-overview {
  position: relative;
  top: 10%;
  display: flex;
}

.feature {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature .img {
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 2px 0px 21px 0px rgba(10,10,10,0.55);
  -moz-box-shadow: 2px 0px 21px 0px rgba(10,10,10,0.55);
  box-shadow: 2px 0px 21px 0px rgba(10,10,10,0.55);
}

.img {
  color: #2a628f;
  font-size: 5rem;
}

#register {
  position: relative;
  top: 10%;
  left: 10%;
}

#handshake {
  position: relative;
  top: 5%;
}

#connect {
  position: relative;
  top: 5%;
  left: 7%;
}

#about-select {
  margin-left: 30px;
  margin-right: 30px;
}

/* Getting Started */
.getting-started-overview {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.getting-started-text {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  margin-left: 50px;
}

.getting-started-button {
  width: 15%;
  text-align: center;
  padding: 10px;
  background-color: #2a628f;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.55);
  box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.55);
}

/* Meet the Team */

.meet-team-photos {
  position: relative;
  top: 15%;
  display: flex;
  justify-content: space-around;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member img {
  height: 170px;
  width: 170px;
  margin-bottom: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.55);
  box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.55);
}

/* Footer */

footer {
  margin-top: 10%;
  padding: 50px 0 50px 0;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer a {
  margin-top: 10px;
}

.footer-item1 {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-item2, .footer-item3 {
  display: flex;
  flex-direction: column;
}

.footer-item2 {
  position: relative;
}

.footer-social {
  position: relative;
  left: -10%;
  display: flex;
  text-align: left;
  justify-content: space-around;
}

.footer-social i {
  font-size: 2rem;
}

.footer-disclaimer {
  font-size: .75rem;
  margin-top: 5%;
  text-align: center
}

/* Media queries */

/* Smartphones  */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .App {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
  }

  /* Nav elements */
  .nav, .right-nav {
    display: none;
  }

  /* Banner */
  .banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 100%;
    margin-bottom: 100%;
  }

  .banner-content {
    position: relative;
    left: -0.5%;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-text {
    font-size: 1.5rem;
    width: 90%;
  }

  .banner-header {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .banner-button {
    position: relative;
    left: 25%;
    margin-top: 10px;
    width: 45%;
    background-color: #2a628f;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    -webkit-box-shadow: 2px 10px 21px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 10px 21px 0px rgba(0,0,0,0.55);
    box-shadow: 2px 10px 21px 0px rgba(0,0,0,0.55);
  }

  #banner-button-2, #banner-button-3 {
    display: block;
  }

  .banner-image {
    height: 400px;
    width: 300px;
    position: relative;
    top: 20%;
    left: 1%;
  }

  /* About, Getting Started, and Meet Team shared styling */
  .about, .getting-started, .meet-team {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100%;
  }

  .about-content, .about-overview, .feature, .getting-started-content, .getting-started-overview, .meet-team, .meet-team-content, .meet-team-photos, footer, .footer, .footer-item1, .footer-item2, .footer-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* About */

  .about-content {
    padding-bottom: 100%;
  }

  .about-overview {
    margin-top: -10%;
  }

  .feature p {
    text-align: center;
  }

  #connect {
    margin-left: -15%;
  }

  /* Getting Started */

  .getting-started-text {
    font-size: 1.25rem;
    position: relative;
    left: -8%;
  }

  .getting-started-button {
    width: 60%;
    align-self: center;
    text-align: center;
    background-color: #2a628f;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    -webkit-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.55);
    box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.55);
  }

  /* Meet the Team */

  .meet-team-photos {
    margin-top: -30%;
  }

  .team-member {
    margin-bottom: 10%;
  }

  /* Footer */

  .footer-social {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .footer-social i {
    margin: 0 50% 0 50%;
    font-size: 2rem;
  }

  .footer-disclaimer {
    font-size: .75rem;
    margin-top: 10%;
    text-align: center;
    padding: 0 5% 0 5%;
  }
}

/* Tablets - portrait */
@media only screen and (min-width: 767px) and (max-width: 1024px) {

  .nav {
    position: sticky;
  }

  .container {
    width: 80%;
  }

  .banner {
    width: 90%;
    position: relative;
    top: -3%;
    left: -5%;
  }

  #banner-button-1, #banner-button-2, #banner-button-3 {
    display: block;
    font-size: 1rem;
    text-align: center;
  }

  .right-nav {
    display: none;
  }

  .banner-button {
    width: 60%;
  }

  .getting-started-button {
    width: 40%;
  }

  .team-member {
    text-align: center;
  }

}

/* Yuge monitors */
@media only screen and (max-width: 1025px) and (min-width: 1919px) {
  body {
    font-size: 1.5rem;
  }

  .nav-button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 30%;
  }

  .right-nav-text-1, .right-nav-text-2, .right-nav-text-3 {
    font-size: 1.5rem;
  }

  /* Banner */

  .banner-text {
    font-size: 2.5rem;
    width: 30%;
  }

  .banner-header {
    font-size: 1.25rem;
    margin-bottom: 5%;
  }

  .banner-button {
    margin-top: 5%;
    width: 33%;
    background-color: #2a628f;
    text-align: center;
    font-size: 1.25rem;
  }

  /* Getting Started */

  .getting-started-text {
    font-size: 1.5rem;
  }

  /* Footer */

  .footer i {
    font-size: 3rem;
  }

}

@media only screen and (max-width: 1024px) and (min-width: 3000px) {
  body {
    font-size: 3rem;
  }

  /* Right side nav */

  .right-nav {
    right: 2%;
  }

  .nav-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 10%;
  }

  .right-nav-text-1, .right-nav-text-2, .right-nav-text-3 {
    font-size: 2rem;
  }

  .nav-button:hover + .right-nav-text-1 {
    width: 100%;
  }

  .nav-button:hover + .right-nav-text-2 {
    width: 100%;
  }

  .nav-button:hover + .right-nav-text-3 {
    width: 100%;
  }

  /* Banner */

  .banner-text {
    font-size: 4rem;
    width: 50%;
  }

  .banner-header {
    font-size: 3rem;
    margin-bottom: 5%;
  }


  .banner-button {
    margin-top: 5%;
    width: 33%;
    background-color: #2a628f;
    text-align: center;
    font-size: 3rem;
  }

  /* Getting Started */

  .getting-started-text {
    font-size: 3rem;
  }

  /* Footer */

  .footer i {
    font-size: 5rem;
  }

}
